body {
    height: 95vh;
    width: 95vw;
    background: linear-gradient(
      to right,
      #0157ee 0%,
      #0157ee 50%,
      white 50%,
      white 100%
    );
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profilecontainer {
    width: 75%;
    height: 75%;
    background-color: white;
    border-radius: 3vh;
    border: 5px solid #0157ee;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .profilecontainer .profile {
    width: 23%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgb(193, 192, 192);
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 4%;
    align-items: center;
  }
  .profilecontainer .details {
    width: 55%;
    height: 80%;
    border-radius: 5px;
  }
  .profilecontainer .profile img {
    width: 70%;
    height: 40%;
    border-radius: 50%;
    margin-top: 1rem;
  }
  img{
    border-radius: 50%;
  }
  .profilecontainer .profile p {
    margin: 0;
    padding: 0;
  }
  .editdetails,
  .editpassword,
  .logout {
    height: 8%;
    width: 50%;
  }

  button {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
      sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 2px;
    margin: 0;
    outline: none;
    padding: 8px 0.8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    transition: 0.2s all ease;
  }

  button:hover,
  button:focus {
    background-color: #07c;
  }

  button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
  }

  button:active {
    background-color: #0064bd;
    box-shadow: none;
  }
  .editpassword {
    background-color: #0767bb;
  }
  .editpassword:hover {
    background-color: #054f8f;
  }

  .logout {
    background-color: red;
  }
  .logout:hover {
    background-color: rgb(124, 3, 3);
  }
  .profilecontainer .details{
    display: flex;
    justify-content: space-around;
  }
  .first{
    width: 45%;
  }
  .second{
    width: 45%;
  }
  .details>div>p>b{
    font-size: 0.8rem;
  }
  .content{
    color: grey;
    font-size: 0.8rem;
  }